Source: ros-kinetic-velodyne-simulator8
Section: misc
Priority: extra
Maintainer: Manuel Fernandez-Carmona <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/velodyne_simulator
Standards-Version: 3.9.2

Package: ros-kinetic-velodyne-simulator8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-velodyne-description8, ros-kinetic-velodyne-gazebo-plugins8
Description: Metapackage allowing easy installation of Velodyne simulation components.
