Source: ros-kinetic-velodyne-description8
Section: misc
Priority: extra
Maintainer: Manuel Fernandez-Carmona <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/velodyne_description
Standards-Version: 3.9.2

Package: ros-kinetic-velodyne-description8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-urdf, ros-kinetic-xacro
Description: URDF and meshes describing Velodyne laser scanners.
